body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #0d2149;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: fadein 2s;
}

@keyframes fadein {
  from {
    background-color: white;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    background-color: white;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    background-color: white;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    background-color: white;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    background-color: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
  font-weight: 300;
}

.axisWhite text {
  color: white;
  font-size: 8pt;
}

.axisWhite line {
  color: white;
}

.axisWhite path {
  stroke: white;
}

label {
  color: white;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container h1 {
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.intro-nasa {
  color: white;
  width: 800px;
  font-family: 'Sarabun', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #09152f;
  padding: 5px 0 5px 0px;
}

.header-left {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20pt;
  align-items: center;
  padding-left: 10px;
}

.header-left > div {
  padding-left: 5px;
}

.header-right {
  display: flex;
  justify-content: space-evenly;
}

.header-right > div {
  padding: 0px 10px 0px 10px;
}

.input-date {
  padding-top: 50px;
}

.graph-info {
  color: white;
  font-style: italic;
}

.pink-text {
  color: #dc6acf;
}

.header-icon {
  height: 40px;
}

.svg-table-container {
  display: flex;
}

table {
  background-color: #39496a;
  height: 300px;
  overflow-y: scroll;
  display: block;
  padding: 15px;
  color: #a7aebc;
  text-align: center;
  font-family: 'Sarabun', sans-serif;
}

tbody .left-align-table {
  text-align: left;
}

.selected-tr {
  color: #0d2149;
  font-weight: 700;
}
